.card {
  width: 323px;
  height: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 12px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);

  line-height: 20px;
  letter-spacing: 0%;
}

.card__like-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  background: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 28L14.12 26.3C7.84 20.72 4 17.28 4 13.2C4 9.76 6.76 7 10.2 7C12.08 7 13.88 7.84 16 9.32C18.12 7.84 19.92 7 21.8 7C25.24 7 28 9.76 28 13.2C28 17.28 24.16 20.72 17.88 26.32L16 28Z" stroke="white" stroke-width="2"/></svg>')
    center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  background: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 28L14.12 26.3C7.84 20.72 4 17.28 4 13.2C4 9.76 6.76 7 10.2 7C12.08 7 13.88 7.84 16 9.32C18.12 7.84 19.92 7 21.8 7C25.24 7 28 9.76 28 13.2C28 17.28 24.16 20.72 17.88 26.32L16 28Z" fill="white"/></svg>')
    center no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    height: auto;
  }

  .card__image {
    height: auto;
  }

  .card__name {
    font-size: 14px;
    padding: 2px 8px;
  }
}
